code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  font-size: 12px;
  border: 1px solid #222;
  border-radius: 5px;
  background-color: #002b36;
  color: #fff;
}

code {
  padding: 2px 6px;
}

pre {
  padding: 8px 14px;
  margin: 8px 0 18px 0;
  line-height: 1.42857;
  overflow: auto;
}

.highlight code {
  padding: 0;
  border: none;
}
