version: 2
jobs:
  publish_blog:
    docker:
      - image: tjmaynes/blog-builder:latest
    working_directory: ~/blog
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-blog-elpa-cache
      - run:
          name: Publish Blog
          command: make publish_blog
      - save_cache:
          key: v1-blog-elpa-cache
          paths:
            - ~/.emacs.d/elpa
      - persist_to_workspace:
          root: ~/blog
          paths:
            - build/*
            - .git/*
  gh_pages_deploy:
    docker:
      - image: node:8.10.0
    working_directory: ~/blog
    environment:
      - GIT_COMMIT_MSG: git log --format=oneline -n 1 $CIRCLE_SHA1
    steps:
      - checkout
      - attach_workspace:
          at: ~/blog
      - run:
          name: Install and Configure Dependencies
          command: |
            npm install --silent gh-pages@2.0.1
            git config user.email tjmaynes@gmail.com
            git config user.name tjmaynes
      - run:
          name: Deploy Blog to gh-pages branch
          command: ./node_modules/.bin/gh-pages --message "Auto-generated - $GIT_COMMIT_MESSAGE [ci skip]" --dist build/
workflows:
  version: 2
  publish_blog:
    jobs:
      - publish_blog:
          filters:
            branches:
              only: master
      - gh_pages_deploy:
          requires:
            - publish_blog
          filters:
            branches:
              only: master
