<div id="about">
  <p>TJ Maynes is a Software Engineer building apps at <a href="https://www.rejuvenan.com/" target="_blank">Rejuvenan Global Health</a> in New York City. TJ enjoy's watching movies, going for long walks, and hacking on random projects. Currently, TJ is focused on growing as a software engineer. TJ's projects are hosted on <a href="https://www.github.com/tjmaynes/" target="_blank">github</a>, along with his <a href="/cv.pdf">CV</a> in pdf format. The easiest way to contact him is through <a href="mailto:tjmaynes@gmail.com">email</a>.</p>
</div>
