<div id="about">
  <img src="/img/profile.png" align="left" alt="TJ Maynes, profile picture"></img>
  <p>Hello, my name is TJ Maynes and I am a Software Engineer building apps at <a href="https://www.rejuvenan.com/" target="_blank">Rejuvenan Global Health</a> in New York City. I enjoy watching movies, going for long walks, and hacking on random little projects. Currently, I'm focused on growing as a software engineer, specifically I'm learning (on my free time) Ruby for small projects and work stuff. My projects are hosted on <a href="https://www.github.com/tjmaynes/" target="_blank">github</a>, along with my <a href="/cv.pdf">CV</a> in pdf format. The easiest way to contact me is through <a href="mailto:tjmaynes@gmail.com">email</a>.</p>
</div>
