<div id="about">
  <img src="/img/profile.png" align="left" alt="TJ Maynes, profile picture"></img>
  <p>Hello, my name is TJ Maynes and I am a Software Engineer building apps at <a href="https://www.rejuvenan.com/" target="_blank">Rejuvenan Global Health</a> in New York City. I am primarily interested in iOS Development and Clojure. Currently, I'm focused on growing as a software engineer, while learning some lisp (with clojure) where I can for fun. My projects are hosted on <a href="https://www.github.com/tjmaynes/" target="_blank">github</a>, along with my <a href="/cv.pdf">CV</a> in pdf format. The easiest way to contact me is through <a href="mailto:tjmaynes@gmail.com">email</a>.</p>
</div>
