/**
 * Page content
 */
.page-content {
  padding: 20px 30px 30px 0;
  margin-left: 200px;

   @include media-query($on-palm) {
     margin: 0 auto;
     padding: 0 20px 20px 20px;
     max-width: 720px;
   }
}

.page-heading {
  font-size: 20px;
}

.page-menu {
  position: fixed;
  padding: 20px 40px;

  @include media-query($on-palm) {
    position: relative;
    padding: 10px;
  }
}

.profile-picture {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;

  @include media-query($on-palm) {
    display: none;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
