/**
 * Page content
 */
.page-content {
  padding: 20px 20px 20px 0;
  margin-left: 200px;

  @include media-query($on-palm) {
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    max-width: 720px;
  }
}

.page-heading {
  font-size: 20px;
}

.page-menu {
  position: fixed;
  padding: 20px 40px;

  @include media-query($on-palm) {
    position: relative;
    padding: 10px;
  }
}

.profile-picture {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;

  @include media-query($on-palm) {
    display: none;
  }
}

.nav-menu {
  padding-top: 20px;
  
  > ul {
    list-style-type:none;
    text-align: center;
  
    > li { 
        @include media-query($on-palm) {
            display: inline;
        }
    }
  }
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post {
  padding: 10px 0;
}

.post-content {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
    text-decoration: underline;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }
}

.video-content {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
